.combo_product {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 90% !important;
}
.combo_product .title {
    display: flex;
    position: relative;
}
.combo_product .selection {
    max-height: unset !important;
    flex: 1;
    overflow: auto !important;
}
.combo_product .footer {
    padding: 5px;
    position: relative;
}
.combo_product .footer button {
    margin: 0 5px;
}
.product_box {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    width: 122px;
    height:115px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
    margin: 6px;
    font-style: normal;
}
.cproduct {
    margin: 6px;
    font-size: 16px;
    font-style: italic;
    font-variant: titling-caps;
}
.product_box .product-img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}
.product_box .product-img img {
    max-height: 100px;
    max-width:  120px;
    vertical-align: middle;
}
.product_box .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}
.product_box .product-name {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    bottom:0;
    top:auto;
    line-height: 14px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    padding: 3px;
    padding-top:15px;
}
.product_box input {
    opacity: 0;
    vertical-align: top;
    text-align: center;
    top:10px;
    min-height: 30px;
    height: 100% !important;
    width: 100% !important;
    cursor: pointer;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 0 0 0 0;
}
.highlight_popup_combo{
    opacity: 99 !important;
    background: rgba(40,40,40,0.2) !important;
    color:black !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border: 3px solid green !important;
    overflow: hidden;
    cursor: pointer;
}

.combo-product{
    position: absolute;
    top: 68px;
    left: 0px;
    right: -2px;
    vertical-align: top;
    color: white;
    line-height: 9px;
    background: #875A7B;
    padding: 5px 22px;
    border-radius: 3px;
    opacity: 0.8;
    font-weight: bold;
}

.btn.edit_it {
    color: white;
    background: #875A7B !important;
    border-color: transparent;
    font-weight: 900;
    display: inline-block;
    cursor: pointer;
    padding: 6px 6px;
    font-size: 11px;
    border: 1px solid #cacaca;
    background: #e2e2e2;
    border-radius: 3px;

}
.edit_btn {
    font-weight: bold;
    font-size: 12px;
}

.cline_lable {
    font-weight: 900;
}
.cline_box {
    margin-top:5px;
    margin-left:10px;
}
